/* Font faces */
@font-face {
  font-family: roboto-regular;
  src: url("fonts/roboto-regular.TTF");
}

@font-face {
  font-family: roboto-bold;
  src: url(fonts/ROBOTO-BOLD.TTF);
}

@font-face {
  font-family: roboto-light;
  src: url(fonts/ROBOTO-LIGHT.TTF);
}

/* Body parts */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: url("imgs/doodles.png") center/cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

header {
  height: 150px;
  width: 100%;
  background-color: white;
  padding: 20px;
  text-align: center;
  border-bottom: 5px solid black;
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 60px;
}

footer {
  height: 150px;
  background-color: white;
  padding: 20px;
  text-align: left;
  border-top: 5px solid black;
  width: 100%;
}

/* Styles */

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 300px;
  margin: 0 auto;
}

.footer-container a {
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}

.footer-icon-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.design-img {
  max-width: 100%;
  height: auto;
  margin-top: 40px;
}

.product-container,
.display-container,
.display-container-2 {
  background-color: white;
  width: 80%;
  margin: auto;
  margin-bottom: 60px;
  padding: 20px;
  box-sizing: border-box;
}

.container-container {
  margin-bottom: 60px;
}

.welcome-container {
  background-color: white;
  width: 70%;
  margin: auto;
  margin-bottom: 60px;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

.section-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 100px;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .section-header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px;
  }
}

.collection-title {
  text-align: center;
  margin-bottom: -40px;
  font-size: 24px;
}

/* Elements */

h1 {
  font-family: roboto-bold;
  font-size: 500%;
}

h2 {
  font-family: roboto-regular;
  font-size: 140%;
  margin-top: -20px;
}

h3 {
  font-family: roboto-regular;
  color: black;
  margin: 0px;
}

a {
  text-decoration: none;
}

/* img classes */
.logo-shirt {
  float: left;
  width: 75px;
  height: 75px;
  margin-top: 30px;
  margin-left: 40px;
}

.cart-style {
  float: right;
  width: 55px;
  height: 55px;
  margin-top: 30px;
  margin-right: 70px;
}

.footer-icon {
  float: right;
  width: 60px;
  height: auto;
  margin-right: 50px;
  margin-bottom: 100px;
  margin-top: -85px;
}

.cart-style {
  margin-top: 20px;
}

/* Dropdown-menu */

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}

/* Product page content */

.gulag-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20%;
  align-items: left;
  margin: 50px;
}

.display-container,
.display-container-2 {
  background-color: white;
  width: 80%;
  margin: auto;
  margin-bottom: 60px;
  padding: 20px;
  box-sizing: border-box;
  align-self: flex-start;
}

.product-display {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  min-width: 200px;
}

.product-container,
.product-container-2 {
  background-color: white;
  width: 80%;
  margin: auto;
  margin-bottom: 60px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  gap: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 970px) {
  .gulag-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    .display-container {
      margin-bottom: 0px;
    }
  }
}

@media screen and (min-width: 685px) {
  .product-container,
  .product-container-2 {
    width: 90%;
  }
}

@media screen and (max-width: 940px) {
  .product-container,
  .display-container,
  .display-container-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

@media screen and (min-width: 730px) {
}

/* Product order info */

.product-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: roboto-bold;
}

.product-price {
  font-size: 18px;
  font-family: roboto-regular;
  margin-bottom: 10px;
  margin-top: 20px;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-item {
  font-family: roboto-light;
  font-size: 18px;
  margin-top: -20px;
}

.color-circles {
  display: flex;
  margin-bottom: 10px;
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
  border: 2px solid #000;
}

.size-box,
.add-to-cart-box {
  border: 2px solid #000;
  padding: 10px;
  margin: 5px;
  font-family: roboto-regular;
  font-size: 15px;
  cursor: pointer;
}

/* Shopping Cart*/

.shopping-cart {
  background-color: white;
  width: 80%;
  margin: auto;
  padding: 20px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-items {
  width: 100%;
}

.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.cart-item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cart-summary {
  margin-top: 20px;
  text-align: center;
}

#checkoutBtn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.cart-shirt {
  width: 100px;
  height: auto;
  float: left;
  margin-right: 1000px;
}

/* Card form */

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.contact-left,
.contact-right {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #272727;
  padding: 10px;
  margin: 10px 0;
  color: #fff;
  font-size: 15px;
  border-radius: 5px;
}

form button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

form button:hover {
  background-color: #45a049;
}

/* Processing Page */

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

.loading-icon {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #000000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.loading-text {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

#thanks {
  margin-top: 200px;
}

.hidden {
  display: none;
  margin-top: 100px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
